a {
    text-decoration: none;
}

.highScorepage {
    color: purple;
}

.gameTimer {
    display: flex;
    align-items: end;
    justify-content: end;
}

.questionBox {
    display: flex;
    align-items: Center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-color: #f5efd6;

}